@model List<PR141_2017_WebProjekat.Models.Manifestacija>
@{
    ViewBag.Title = "Pocetna stranica kupca";
}

<form method="post" action="~/Kupac/PrikaziProfilKupca">
    <input type="submit" value="Pogledaj svoje podatke">
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Tip
            </th>
            <th>
                Broj mesta
            </th>
            <th>
                Datum i vreme odrzavanja
            </th>
            <th>
                Cena karte
            </th>
            <th>
                Mesto odrzavanja
            </th>
            <th>
                Aktivna
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var manifestacija in Model)
        {
            <tr>
                <td>
                    @manifestacija.Naziv
                </td>
                <td>
                    @manifestacija.TipManifestacije
                </td>
                <td>
                    @manifestacija.BrojMesta
                </td>
                <td>
                    @manifestacija.DatumIVremeOdrzavanja
                </td>
                <td>
                    @manifestacija.CenaRegularneKarte
                </td>
                <td>
                    @manifestacija.MestoOdrzavanja.PostanskiBroj @manifestacija.MestoOdrzavanja.Mesto
                    @manifestacija.MestoOdrzavanja.Ulica @manifestacija.MestoOdrzavanja.Broj
                </td>
                <td>
                    @if (manifestacija.IsAktivna == true)
                    {
                        Write("da");
                    }
                    @if (manifestacija.IsAktivna == false)
                    {
                        Write("ne");
                    }
                </td>
            </tr>
        }
    </tbody>
</table>