@model PR141_2017_WebProjekat.Models.Korisnik
@{
    ViewBag.Title = "Izmeni podatke";
}

<h2>Izmeni podatke</h2>

<div>
    @ViewBag.Message
</div>

@*<form action="~/Autentifikacija/IzmeniPodatke" method="post">
    <label for="fname">Korisnicko ime:</label>
    <input type="text" id="fname" name="fname" value="@Model.KorisnickoIme"><br><br>
    <label for="fname">Lozinka:</label>
    <input type="text" id="fname" name="fname" value="@Model.Lozinka"><br><br>
    <label for="fname">Ime:</label>
    <input type="text" id="fname" name="fname" value="@Model.Ime"><br><br>
    <label for="fname">Prezime:</label>
    <input type="text" id="fname" name="fname" value="@Model.Prezime"><br><br>
    <label for="fname">Pol:</label>
    <input type="text" id="fname" name="fname" value="@Model.Pol"><br><br>
    <label for="fname">Datum rodjenja:</label>
    <input type="date" id="fname" name="fname" value="@Model.DatumRodjenja.ToShortDateString()"><br><br>

    <input type="submit" value="Izmeni podatke">
</form>*@

<form action="~/Autentifikacija/IzmeniPodatke" method="post">
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td><input name="korisnickoIme" value="@Model.KorisnickoIme" readonly /></td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><input type="text" name="ime" /></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><input type="text" name="prezime" /></td>
        </tr>

        <tr>
            <td>Lozinka:</td>
            <td><input type="text" name="lozinka" /></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td><input type="text" name="pol" /></td>
        </tr>
        <tr>
            <td>Datum rodjenja:</td>
            <td><input type="date" name="datumRodjenja" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Izmeni podatke" />
            </td>
        </tr>
    </table>
</form>