@model List<PR141_2017_WebProjekat.Models.Manifestacija>
@{
    ViewBag.Title = "Home Page";
}


<form action="~/Autentifikacija/Registracija">
    <input type="submit" value="Registruj se">
</form>

<form action="~/Autentifikacija/Prijavljivanje">
    <input type="submit" value="Prijavi se">
</form>

<label>Sortiraj po:</label>
<form action="~/Home/SortirajPoNazivu" method="post">
    <label>nazivu:</label>
    <select name="naziv" id="sortiranje">
        <option value="a-z">a-z</option>
        <option value="z-a">z-a</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<form action="~/Home/SortirajPoMestu" method="post">
    <label>mestu:</label>
    <select name="mesto" id="sortiranje">
        <option value="a-z">a-z</option>
        <option value="z-a">z-a</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<form action="~/Home/SortirajPoCeniKarte" method="post">
    <label>ceni karte:</label>
    <select name="cenaKarte" id="sortiranje">
        <option value="jeftinije prvo">jeftinije prvo</option>
        <option value="skuplje prvo">skuplje prvo </option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<form action="~/Home/SortirajPoDatumu" method="post">
    <label>datumu:</label>
    <select name="datum" id="sortiranje">
        <option value="najskorije prvo">najskorije prvo</option>
        <option value="najskorije poslednje">najskorije poslednje</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>


<label>Filtriraj po tipu:</label>
<form action="~/Home/FiltrirajPoTipu" method="post">
    <select name="tip" id="filtriranje">
        <option value="film">film</option>
        <option value="festival">festival</option>
        <option value="crtani">crtani</option>
        <option value="balet">balet</option>
        <option value="film">film</option>
        <option value="opera">opera</option>
        <option value="kultno zbivanje">kultno zbivanje</option>
        <option value="stand-up komedija">stand-up komedija</option>
        <option value="koncert">koncert</option>
    </select>
    <input type="submit" value="Filtriraj">
</form>
<form action="~/Home/UkloniFilter" method="post">
    <input type="submit" value="Ukloni filter">
</form>
<form action="~/Home/PrikaziManifestaciju" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Tip
                </th>
                <th>
                    Broj mesta
                </th>
                <th>
                    Datum i vreme odrzavanja
                </th>
                <th>
                    Cena karte
                </th>
                <th>
                    Mesto odrzavanja
                </th>
                <th>
                    Aktivna
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var manifestacija in Model)
            {
                <tr>
                    <td>
                        <a href="~/Home/PrikaziManifestaciju?Naziv=@manifestacija.Naziv">@manifestacija.Naziv</a>
                    </td>
                    <td>
                        @manifestacija.TipManifestacije
                    </td>
                    <td>
                        @manifestacija.BrojMesta
                    </td>
                    <td>
                        @manifestacija.DatumIVremeOdrzavanja
                    </td>
                    <td>
                        @manifestacija.CenaRegularneKarte
                    </td>
                    <td>
                        @manifestacija.MestoOdrzavanja.PostanskiBroj @manifestacija.MestoOdrzavanja.Mesto
                        @manifestacija.MestoOdrzavanja.Ulica @manifestacija.MestoOdrzavanja.Broj
                    </td>
                    <td>
                        @if (manifestacija.IsAktivna == true)
                        {
                            Write("da");
                        }
                        @if (manifestacija.IsAktivna == false)
                        {
                            Write("ne");
                        }
                    </td>
                    <td>
                        <img src="~/Files/@manifestacija.Slika" style="width:100px; height:100px" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>





