@model List<PR141_2017_WebProjekat.Models.Manifestacija>
@{
    ViewBag.Title = "Pocetna stranica administratora";
}

@TempData["PretragaPoNazivuGreska"]
@TempData["PretragaPoMestuGreska"]
@TempData["PretragaPoCeniGreska"]
@TempData["PretragaPoDatumuGreska"]
@TempData["UspesnoObrisanaManifestacija"]
@TempData["UspesnaPrijava"]
@TempData["UspesnoOdobrena"]
@TempData["VecOdobrena"]
@TempData["NemaKomentara"]
@TempData["IzbrisanaManifestacija"]

<form action="~/Administrator/PrikaziProfilAdministratora">
    <input type="submit" value="Pogledaj svoje podatke">
</form>

<form action="~/Administrator/KreirajProdavca">
    <input type="submit" value="Kreiraj novog prodavca">
</form>

<form action="~/Administrator/IzlistajSveKorisnike">
    <input type="submit" value="Izlistaj sve korisnike registrovane na sistemu">
</form>

<form action="~/Administrator/IzlistajSveKarte">
    <input type="submit" value="Izlistaj sve karte na sistemu">
</form>

<label>Sortiraj po:</label>
<form action="~/Administrator/SortirajPoNazivu" method="post">
    <label>nazivu:</label>
    <select name="naziv" id="sortiranje">
        <option value="a-z">a-z</option>
        <option value="z-a">z-a</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<form action="~/Administrator/SortirajPoMestu" method="post">
    <label>mestu:</label>
    <select name="mesto" id="sortiranje">
        <option value="a-z">a-z</option>
        <option value="z-a">z-a</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<form action="~/Administrator/SortirajPoCeniKarte" method="post">
    <label>ceni karte:</label>
    <select name="cenaKarte" id="sortiranje">
        <option value="jeftinije prvo">jeftinije prvo</option>
        <option value="skuplje prvo">skuplje prvo </option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<form action="~/Administrator/SortirajPoDatumu" method="post">
    <label>datumu:</label>
    <select name="datum" id="sortiranje">
        <option value="najskorije prvo">najskorije prvo</option>
        <option value="najskorije poslednje">najskorije poslednje</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<label>Filtriraj po tipu:</label>
<form action="~/Administrator/FiltrirajPoTipu" method="post">
    <select name="tip" id="filtriranje">
        <option value="film">film</option>
        <option value="festival">festival</option>
        <option value="crtani">crtani</option>
        <option value="balet">balet</option>
        <option value="film">film</option>
        <option value="opera">opera</option>
        <option value="kultno zbivanje">kultno zbivanje</option>
        <option value="stand-up komedija">stand-up komedija</option>
        <option value="koncert">koncert</option>
    </select>
    <input type="submit" value="Filtriraj">
</form>
<form action="~/Administrator/UkloniFilter" method="post">
    <input type="submit" value="Ukloni filter">
</form>

<label>Pretrazi po:</label>

<form action="~/Administrator/PretragaPoNazivu" method="post">
    <label>nazivu:</label>
    <input type="search" id="site-search" name="naziv" />
    <button>Pretrazi</button>
</form>
<form action="~/Administrator/PretragaPoMestu" method="post">
    <label>mestu:</label>
    <input type="search" id="site-search" name="mesto" />
    <button>Pretrazi</button>
</form>
<form action="~/Administrator/PretragaPoCeni" method="post">
    <label>ceni:</label>
    <input type="number" min ="0" max="999999999" id="site-search" name="donjaGranica" placeholder="od" />
    <input type="number" min ="0" max="999999999" id="site-search" name="gornjaGranica" placeholder="do" />
    <button>Pretrazi</button>
</form>
<form action="~/Administrator/PretragaPoDatumu" method="post">
    <label>datumu(od-do):</label>
    <input type="datetime-local" id="site-search" name="donjaGranica" />
    <input type="datetime-local" id="site-search" name="gornjaGranica" />
    <button>Pretrazi</button>
</form>
<form action="~/Administrator/UkloniFilter" method="post">
    <input type="submit" value="Ukloni pretragu">
</form>




<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Tip
            </th>
            <th>
                Broj mesta
            </th>
            <th>
                Datum i vreme odrzavanja
            </th>
            <th>
                Cena karte
            </th>
            <th>
                Mesto odrzavanja
            </th>
            <th>
                Aktivna
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var manifestacija in Model)
        {
            if (manifestacija.IsIzbrisana != true)
            {
                <tr>
                    <td>
                        <a href="~/Home/PrikaziManifestaciju?Naziv=@manifestacija.Naziv">@manifestacija.Naziv</a>
                    </td>
                    <td>
                        @manifestacija.TipManifestacije
                    </td>
                    <td>
                        @manifestacija.BrojMesta
                    </td>
                    <td>
                        @manifestacija.DatumIVremeOdrzavanja
                    </td>
                    <td>
                        @manifestacija.CenaRegularneKarte
                    </td>
                    <td>
                        @manifestacija.MestoOdrzavanja.PostanskiBroj @manifestacija.MestoOdrzavanja.Mesto
                        @manifestacija.MestoOdrzavanja.Ulica @manifestacija.MestoOdrzavanja.Broj
                    </td>
                    <td>
                        @if (manifestacija.IsAktivna == true)
                        {
                            Write("da");
                        }
                        @if (manifestacija.IsAktivna == false)
                        {
                            Write("ne");
                        }
                    </td>
                    <td>
                        <img src="~/Files/@manifestacija.Poster" style="width:100px; height:100px" />
                    </td>
                    <td>
                        <a href="~/Administrator/ObrisiManifestaciju?Naziv=@manifestacija.Naziv">obrisi manifestaciju</a>
                    </td>
                    <td>
                        @if (manifestacija.IsAktivna == false)
                        {
                            <a href="~/Administrator/OdobriManifestaciju?Naziv=@manifestacija.Naziv">odobri manifestaciju</a>
                        }
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

@Html.ActionLink("Odjava", "Odjava", "Autentifikacija")