@model List<PR141_2017_WebProjekat.Models.Manifestacija>
@{
    ViewBag.Title = "Pocetna stranica administratora";
}

<form action="~/Administrator/PrikaziProfilAdministratora">
    <input type="submit" value="Pogledaj svoje podatke">
</form>

<form action="~/Administrator/KreirajProdavca">
    <input type="submit" value="Kreiraj novog prodavca">
</form>

<form action="~/Administrator/IzlistajSveKorisnike">
    <input type="submit" value="Izlistaj sve korisnike registrovane na sistemu">
</form>

<label>Sortiraj po:</label>
<form action="~/Administrator/SortirajPoNazivu" method="post">
    <label>nazivu:</label>
    <select name="naziv" id="sortiranje">
        <option value="a-z">a-z</option>
        <option value="z-a">z-a</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<form action="~/Administrator/SortirajPoMestu" method="post">
    <label>mestu:</label>
    <select name="mesto" id="sortiranje">
        <option value="a-z">a-z</option>
        <option value="z-a">z-a</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<form action="~/Administrator/SortirajPoCeniKarte" method="post">
    <label>ceni karte:</label>
    <select name="cenaKarte" id="sortiranje">
        <option value="jeftinije prvo">jeftinije prvo</option>
        <option value="skuplje prvo">skuplje prvo </option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<form action="~/Administrator/SortirajPoDatumu" method="post">
    <label>datumu:</label>
    <select name="datum" id="sortiranje">
        <option value="najskorije prvo">najskorije prvo</option>
        <option value="najskorije poslednje">najskorije poslednje</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Tip
            </th>
            <th>
                Broj mesta
            </th>
            <th>
                Datum i vreme odrzavanja
            </th>
            <th>
                Cena karte
            </th>
            <th>
                Mesto odrzavanja
            </th>
            <th>
                Aktivna
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var manifestacija in Model)
        {
            <tr>
                <td>
                    <a href="~/Home/PrikaziManifestaciju?Naziv=@manifestacija.Naziv">@manifestacija.Naziv</a>
                </td>
                <td>
                    @manifestacija.TipManifestacije
                </td>
                <td>
                    @manifestacija.BrojMesta
                </td>
                <td>
                    @manifestacija.DatumIVremeOdrzavanja
                </td>
                <td>
                    @manifestacija.CenaRegularneKarte
                </td>
                <td>
                    @manifestacija.MestoOdrzavanja.PostanskiBroj @manifestacija.MestoOdrzavanja.Mesto
                    @manifestacija.MestoOdrzavanja.Ulica @manifestacija.MestoOdrzavanja.Broj
                </td>
                <td>
                    @if (manifestacija.IsAktivna == true)
                    {
                        Write("da");
                    }
                    @if (manifestacija.IsAktivna == false)
                    {
                        Write("ne");
                    }
                </td>
                <td>
                    <img src="~/Files/@manifestacija.Slika" style="width:100px; height:100px" />
                </td>
            </tr>
        }
    </tbody>
</table>