@model List<PR141_2017_WebProjekat.Models.Korisnik>
@{
    ViewBag.Title = "Izlistaj sve korisnike";
}
@TempData["DodanProdavac"]
@TempData["UspesnoObrisanKorisnik"]

<br />
<label>Sortiraj po:</label>
<form action="~/Administrator/SortirajPoImenu" method="post">
    <label>imenu:</label>
    <select name="ime" id="sortiranje">
        <option value="a-z">a-z</option>
        <option value="z-a">z-a</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<form action="~/Administrator/SortirajPoPrezimenu" method="post">
    <label>prezimenu:</label>
    <select name="prezime" id="sortiranje">
        <option value="a-z">a-z</option>
        <option value="z-a">z-a</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<form action="~/Administrator/SortirajPoKorisnickomImenu" method="post">
    <label>korisnickom imenu:</label>
    <select name="korisnickoIme" id="sortiranje">
        <option value="a-z">a-z</option>
        <option value="z-a">z-a</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<h2>Svi admini</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                Korisnicko ime
            </th>
            <th>
                Lozinka
            </th>
            <th>
                Pol
            </th>
            <th>
                Datum rodjenja
            </th>
            <th>
                Uloga
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var korisnik in Model)
        {
            if (@korisnik.Uloga == "administrator")
            {
                if (korisnik.IsIzbrisan != true)
                {
                    <tr>

                        <td>
                            @korisnik.Ime
                        </td>
                        <td>
                            @korisnik.Prezime
                        </td>
                        <td>
                            @korisnik.KorisnickoIme
                        </td>
                        <td>
                            @korisnik.Lozinka
                        </td>
                        <td>
                            @korisnik.Pol
                        </td>
                        <td>
                            @korisnik.DatumRodjenja.Value.Date.ToShortDateString()
                        </td>
                        <td>
                            @korisnik.Uloga
                        </td>

                    </tr>
                }

            }
        }
    </tbody>
</table>

<form action="~/Administrator/SortirajPoBrojuBodova" method="post">
    <label>Sortiraj kupce po broju bodova:</label>
    <select name="brojBodova" id="sortiranje">
        <option value="uzlazno">uzlazno</option>
        <option value="silazno">silazno</option>
    </select>
    <input type="submit" value="Sortiraj">
</form>

<h2>Svi kupci</h2>
<label>Filtriraj po tipu kupca:</label>
<form action="~/Administrator/FiltrirajPoTipuKupca" method="post">
    <select name="tip" id="filtriranje">
        <option value="bronzani">bronzani</option>
        <option value="srebrni">srebrni</option>
        <option value="zlatni">zlatni</option>
    </select>
    <input type="submit" value="Filtriraj">
</form>
<form action="~/Administrator/UkloniFilterZaKupce" method="post">
    <input type="submit" value="Ukloni filter">
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                Korisnicko ime
            </th>
            <th>
                Lozinka
            </th>
            <th>
                Pol
            </th>
            <th>
                Datum rodjenja
            </th>
            <th>
                Uloga
            </th>
            <th>
                Karte
            </th>
            <th>
                Broj sakupljenih bodova
            </th>
            <th>
                Tip
            </th>
            <th>
                Popust
            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var korisnik in Model)
        {
            if (@korisnik.Uloga == "kupac")
            {
                if (korisnik.IsIzbrisan != true)
                {
                    <tr>
                        <td>
                            @korisnik.Ime
                        </td>
                        <td>
                            @korisnik.Prezime
                        </td>
                        <td>
                            @korisnik.KorisnickoIme
                        </td>
                        <td>
                            @korisnik.Lozinka
                        </td>
                        <td>
                            @korisnik.Pol
                        </td>
                        <td>
                            @korisnik.DatumRodjenja.Value.Date.ToShortDateString()
                        </td>
                        <td>
                            @korisnik.Uloga
                        </td>
                        <td>
                            @foreach (var karta in korisnik.SveKarteBezObziraNaStatus)
                            {
                                @karta.Value.ID
                                Write(";");
                            }
                        </td>
                        <td>
                            @korisnik.BrojSakupljenihBodova
                        </td>
                        <td>
                            @korisnik.TipKorisnika.ImeTipa
                        </td>
                        <td>
                            @korisnik.TipKorisnika.Popust
                        </td>
                         <td>
                            <a href="~/Administrator/ObrisiKorisnika?KorisnickoIme=@korisnik.KorisnickoIme">obrisi korisnika</a>
                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>

<h2>Svi prodavci</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                Korisnicko ime
            </th>
            <th>
                Lozinka
            </th>
            <th>
                Pol
            </th>
            <th>
                Datum rodjenja
            </th>
            <th>
                Uloga
            </th>
            <th>
                Manifestacije
            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var korisnik in Model)
        {
            if (@korisnik.Uloga == "prodavac")
            {
                if (korisnik.IsIzbrisan != true)
                {
                    <tr>
                        <td>
                            @korisnik.Ime
                        </td>
                        <td>
                            @korisnik.Prezime
                        </td>
                        <td>
                            @korisnik.KorisnickoIme
                        </td>
                        <td>
                            @korisnik.Lozinka
                        </td>
                        <td>
                            @korisnik.Pol
                        </td>
                        <td>
                            @korisnik.DatumRodjenja.Value.Date.ToShortDateString()
                        </td>
                        <td>
                            @korisnik.Uloga
                        </td>
                        <td>
                            @foreach (var manifestacija in korisnik.Manifestacije)
                            {
                                @manifestacija.Naziv
                                Write(";");
                            }
                        </td>
                        <td>
                            <a href="~/Administrator/ObrisiKorisnika?KorisnickoIme=@korisnik.KorisnickoIme">obrisi korisnika</a>
                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>

@Html.ActionLink("Ulaznice.rs", "Index", "Administrator", new { area = "" }, new { @class = "navbar-brand" })



