
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ulaznice.rs</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*

            @if (Model.Uloga == "administrator")
        {
            @Html.ActionLink("Ulaznice.rs", "Index", "Administrator", new { area = "" }, new { @class = "navbar-brand" })
        }
        else if (Model.Uloga == "kupac")
        {
            @Html.ActionLink("Ulaznice.rs", "Index", "Kupac", new { area = "" }, new { @class = "navbar-brand" })
        }
        else if (Model.Uloga == "prodavac")
        {
            @Html.ActionLink("Ulaznice.rs", "Index", "Prodavac", new { area = "" }, new { @class = "navbar-brand" })
        }
        else
        {
        }*@

                @{
                    PR141_2017_WebProjekat.Models.Korisnik korisnik = (PR141_2017_WebProjekat.Models.Korisnik)Session["Korisnik"];

                    if (korisnik == null)
                    {
                        @Html.ActionLink("Ulaznice.rs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else
                    {
                        if (korisnik.Uloga == "administrator")
                        {
                            @Html.ActionLink("Ulaznice.rs", "Index", "Administrator", new { area = "" }, new { @class = "navbar-brand" })
                        }
                        if (korisnik.Uloga == "kupac")
                        {
                            @Html.ActionLink("Ulaznice.rs", "Index", "Kupac", new { area = "" }, new { @class = "navbar-brand" })
                        }
                        if (korisnik.Uloga == "prodavac")
                        {
                            @Html.ActionLink("Ulaznice.rs", "Index", "Prodavac", new { area = "" }, new { @class = "navbar-brand" })
                        }
                    }
                }
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PR141-2017-WebProjekat</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
