@model PR141_2017_WebProjekat.Models.Korisnik
@{
    ViewBag.Title = "Prikazi manifestacije prodavca";
}

@TempData["UspesnaIzmenaManifestacije"]

<h2>Sve manifestacije prodavca</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Tip manifestacije
            </th>
            <th>
                Broj mesta
            </th>
            <th>
                Mesto odrzavanja
            </th>
            <th>
                Datum i vreme odrzavanja
            </th>
            <th>
                Cena regularne karte
            </th>
            <th>
                Aktivna
            </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var manifestacija in Model.Manifestacije)
        {
            <tr>
                <td>
                    <a href="~/Prodavac/PrikaziManifestaciju?Naziv=@manifestacija.Naziv">@manifestacija.Naziv</a>
                </td>
                <td>
                    @manifestacija.TipManifestacije
                </td>
                <td>
                    @manifestacija.BrojMesta
                </td>
                <td>
                    @manifestacija.MestoOdrzavanja.PostanskiBroj @manifestacija.MestoOdrzavanja.Mesto @manifestacija.MestoOdrzavanja.Ulica @manifestacija.MestoOdrzavanja.Broj
                </td>
                <td>
                    @manifestacija.DatumIVremeOdrzavanja
                <td>
                    @manifestacija.CenaRegularneKarte
                </td>
                <td>
                    @if (manifestacija.IsAktivna == true)
                    {
                        Write("da");
                    }
                    @if (manifestacija.IsAktivna == false)
                    {
                        Write("ne");
                    }
                </td>
                <td>
                    <img src="~/Files/@manifestacija.Poster" style="width:100px; height:100px" />
                </td>
            </tr>
        }
    </tbody>
</table>