@model PR141_2017_WebProjekat.Models.Korisnik
@{
    ViewBag.Title = "Korisnik";
}
@TempData["IzmenaPodataka"]

<h2>Korisnik</h2>

<form action="~/Prodavac/IzmeniPodatke">
    <input type="submit" value="Izmeni svoje podatke">
</form>

<ul>
    <li>Uloga: @Model.Uloga</li>
    <li>Ime: @Model.Ime</li>
    <li>Prezime: @Model.Prezime</li>
    <li>Korisnicko ime: @Model.KorisnickoIme</li>
    <li>Lozinka: @Model.Lozinka</li>
    <li>Pol: @Model.Pol</li>
    <li>Datum rodjenja: @Model.DatumRodjenja.Value.Day/@Model.DatumRodjenja.Value.Month/@Model.DatumRodjenja.Value.Year</li>
</ul>


@Html.ActionLink("Ulaznice.rs", "Index", "Prodavac", new { area = "" }, new { @class = "navbar-brand" })