@model PR141_2017_WebProjekat.Models.Manifestacija
@{
    ViewBag.Title = "Manifestacija";
}

<h2>Manifestacija</h2>

<form action="~/Prodavac/IzmeniPodatkeManifestacije">
    <input type="submit" value="Izmeni podatke">
</form>

<ul>
    <li>Naziv: @Model.Naziv</li>
    <li>Tip manifestacije: @Model.TipManifestacije </li>
    <li>Mesto odrzavanja: @Model.MestoOdrzavanja.Mesto @Model.MestoOdrzavanja.PostanskiBroj.ToString() @Model.MestoOdrzavanja.Ulica @Model.MestoOdrzavanja.Broj</li>
    <li>Datum: @Model.DatumIVremeOdrzavanja.ToString() </li>
    <li>Broj mesta: @Model.BrojMesta </li>
    <li>Cena karte: @Model.CenaRegularneKarte </li>
    <li>
        Aktivna: @if (Model.IsAktivna == true)
        {
            Write("da");
        }
        @if (Model.IsAktivna == false)
        {
            Write("ne");
        }
    </li>
    <li>
        <img src="~/Files/@Model.Poster" style="width:100px; height:100px" />
    </li>

</ul>