@model PR141_2017_WebProjekat.Models.Korisnik
@{
    ViewBag.Title = "Korisnik";
}

<h2>Korisnik</h2>

<form action="~/Prodavac/IzmeniPodatke">
    <input type="submit" value="Izmeni svoje podatke">
</form>

<ul>
    <li>Uloga: @Model.Uloga</li>
    <li>Ime: @Model.Ime</li>
    <li>Prezime: @Model.Prezime</li>
    <li>Korisnicko ime: @Model.KorisnickoIme</li>
    <li>Lozinka: @Model.Lozinka</li>
    <li>Pol: @Model.Pol</li>
    <li>Datum rodjenja: @Model.DatumRodjenja.Day/@Model.DatumRodjenja.Month/@Model.DatumRodjenja.Year</li>
</ul>

<h2>Sve manifestacije prodavca</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Tip manifestacije
            </th>
            <th>
                Broj mesta
            </th>
            <th>
                Mesto odrzavanja
            </th>
            <th>
                Cena regularne karte
            </th>
            <th>
                Aktivna
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var manifestacija in Model.Manifestacije)
        {
        <tr>
            <td>
                @manifestacija.Naziv
            </td>
            <td>
                @manifestacija.TipManifestacije
            </td>
            <td>
                @manifestacija.BrojMesta
            </td>
            <td>
                @manifestacija.MestoOdrzavanja.PostanskiBroj @manifestacija.MestoOdrzavanja.Mesto @manifestacija.MestoOdrzavanja.Ulica @manifestacija.MestoOdrzavanja.Broj
            </td>
            <td>
                @manifestacija.CenaRegularneKarte
            </td>
            <td>
                @if (manifestacija.IsAktivna == true)
                {
                    Write("da");
                }
                @if (manifestacija.IsAktivna == false)
                {
                    Write("ne");
                }
            </td>

        </tr>
        }
    </tbody>
</table>
