@model PR141_2017_WebProjekat.Models.Korisnik
@{
    ViewBag.Title = "Prijavljivanje";
}

@ViewBag.Odjava
@TempData["PrijavljivanjeGreska"]
@TempData["UspesnaRegistracija"]
<h2>Prijavljivanje</h2>

<div>
    @ViewBag.Message
</div>

<form action="~/Autentifikacija/Prijavljivanje" method="post">
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td><input type="text" name="korisnickoIme" /></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="text" name="lozinka" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Prijavi se" />
            </td>
        </tr>
    </table>
</form>

@Html.ActionLink("Ulaznice.rs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })